

  h1 {
  text-align: center;
  background: linear-gradient(90deg, rgb(63, 2, 2), rgb(82, 78, 70), rgb(36, 36, 35), green, rgb(176, 10, 160), purple, rgb(76, 11, 11));
  background-size: 400%;
  color: transparent;
  background-clip: text;
  animation: pelangi 8s linear infinite;
  text-shadow: 0 0 15px white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes pelangi {
  0% { background-position: 0%; }
  100% { background-position: 400%; }
}
body {
  margin: 0;
   padding: 0;
  background-color: #1a264e;
  color: rgb(241, 237, 237);
   text-align: center;
}
section.Hayashi {
   display: flex;
    gap: 30px ;
  justify-content: center;
   flex-wrap: wrap;
  padding: 30px;
}
article.hayashi2 {
    background: rgba(188, 89, 89, 0.15);
    border-radius: 15px;
  width: 275px;
     padding: 20px;
  box-shadow: 0 4px 8px rgba(215, 135, 135, 0.3);
}
.album {
  width:100%;
    aspect-ratio: 1 / 1;
  object-fit:cover;
    border-radius:8px;
  display: block;
}
audio {
  width: 100%;
   margin-top: 13px;
}
.foot {ground: rgba(14, 12, 12, 0.3);
    padding: 15px;
     margin-top: 35px;
     background-color: #a9baf0;
}


